body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: rgb(56, 48, 48);
    background-color: #333;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portfolio-name {
    font-size: 48px;
    text-align: center;
}